<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>{% block title %}Tiago Rodrigues de Magalhães - SambaTech - Processo de seleção{% endblock title %}</title>

  		{% block meta %}
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		{% endblock meta %}

		{% block style %}
			{% comment %}<link href="{{ MEDIA_URL }}css/reset.css" rel="stylesheet" type="text/css" />{% endcomment %}
		{% endblock style %}
		
		{% block scripts %}
		{% endblock scripts %}
		
	</head>

	<body>
	
    {% block content %}{% endblock content %}

	</body>
</html>
