<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>{% block title %}Tiago Rodrigues de Magalhães - SambaTech - Processo de seleção{% endblock title %}</title>

  		{% block meta %}
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		{% endblock meta %}

		{% block style %}
		{% endblock style %}
		
		{% block scripts %}
		{% endblock scripts %}
		
	</head>

	<body bgcolor="#99CCCC">
		<table width="90%" cellpadding="10" cellspacing="0" border="2" align="center" bgcolor="white">
			<tr>
				<th>
	    			{% block instruction %}{% endblock instruction %}
				</th>
			</tr>
			<tr>
				<td align="center">
	    			{% block content %}{% endblock content %}
				</td>
			</tr>
			<tr>
				<th>
	    			{% block steps %}{% endblock steps %}
				</th>
			</tr>
		</table>
	</body>
</html>
