{% extends "base.html" %}

{% block content %}
    <p>CONVERTENDO ARQUIVO</p>
    <ul>
    	<li>BUCKET: {{ bucket }}</li>
    	<li>KEY: {{ key }}</li>
    	<li>ETAG: {{ etag }}</li>
    </ul>
    
    {% if error %}
    	<p>ERRO AO CONVERTER ARQUIVO</p>
    	<p>{{ error_message }}</p>
    {% else %}
    	<p>ARQUIVO CONVERTIDO CORRETAMENTE</p>
    	Clique aqui para visualizar o vídeo
    	<p><a href="{{ output_video_url }}" target= "_blank">Clique aqui</a> para fazer o download do arquivo salvo no Amazon S3.</p>
    {% endif %}
	
	<div id="passos">
		PASSO 3 DE 4
	</div>
	
{% endblock content %}