{% extends "base.html" %}

{% block instruction %}
	<p>ARQUIVO ENVIADO AO AMAZON S3</p>
{% endblock instruction %}

{% block content %}
    <p><a href="http://{{ bucket }}.s3.amazonaws.com/{{ key }}" target= "_blank">Clique aqui</a> para fazer o download do arquivo salvo no Amazon S3.</p>
	
	<p><a href="/convert/?bucket={{ bucket }}&key={{ key }}&etag={{ etag }}">Avançar para o próximo passo</a></p>
	
{% endblock content %}

{% block steps %}
	<p align="center">PASSO 2 DE 4</p>
{% endblock steps %}